<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('home') }}">Wild Xmas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            <a class="nav-link" href="{{ path('gift_index', {'name': 'enfant'})}}">Gifts Children</a>
            <a class="nav-link" href="{{ path('gift_index', {'name': 'adulte'})}}">Gifts Adults</a>
            <a class="nav-link" href="{{ path('gift_list_index') }}">My lists</a>
            <a class="nav-link" href="#">Profile</a>
        </div>
    </div>

    {% if (app.user) %}
        Welcome {{ app.user.email }}
    <a href="{{ path('app_logout') }}" class="btn btn-secondary">Logout</a>
    {% else %}
    <a href="{{ path('app_login') }}" class="btn btn-secondary">Login</a>
    {% endif %}

    {% if is_granted('ROLE_ELVE') %}
        <a href="{{ path('admin_gift_index') }}" class="btn btn-secondary">Atelier</a>
    {% endif %}


</nav>
