{% extends 'layout.html.twig' %}

{% block title %}GiftList index{% endblock %}

{% block body %}
    <h1>GiftList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gift_list in gift_lists %}
            <tr>
                <td>{{ gift_list.id }}</td>
                <td>{{ gift_list.year }}</td>
                <td>{{ gift_list.user.email ?? '' }}</td>
                <td>
                    <a href="{{ path('gift_list_show', {'id': gift_list.id}) }}">show</a>
                    <a href="{{ path('gift_list_edit', {'id': gift_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gift_list_new') }}">Create new</a>
{% endblock %}
