{% extends 'layout.html.twig' %}

{% block title %}GiftList{% endblock %}

{% block body %}
    <h1>Gift List {{ gift_list.year }}</h1>
    <div class="container-fluid">
        <div class="row">
            {% for gift in gift_list.gifts %}
                <div class="col-sm-4">
                    <div class="card">
                        {{ gift.name }}
                        <form method="post" action="{{ path('gift_remove_list', {'giftList': gift_list.id, 'gift': gift.id}) }}">
                            <button class="btn btn-sm btn-primary">Remove</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a href="{{ path('gift_list_index') }}">back to list</a>

        <a href="{{ path('gift_list_edit', {'id': gift_list.id}) }}">edit</a>
    </div>
    {{ include('gift_list/_delete_form.html.twig') }}
{% endblock %}
